@charset "utf-8";

@media screen and (max-width: 768px) {

#container .av_b ul li:nth-of-type(4) img{
  width: 50% !important;
}
  
  #container .p_set {
    grid-template-columns:1fr;
  }

  #container .p_set h5{
    display:none;
  }

  #container .ps_set{
    grid-template-columns:1fr;
  }
  
  #container .av_b > div > ul{
    /* grid-template-columns: 1fr; */
    display: flex;
    flex-direction: column;
  }
  
   #container .bas{
     top: 18%;
     font-size: 1.5rem;
     text-align: center;
     width: 80%;
   }
   #container .av_f span > ul{
      grid-template-columns: 1fr 1fr;
   }

  #container .soda_aver > div {
    padding: 1rem;
    font-size: 1rem;
  }
  #container section:nth-child(n+1) > div {
    padding: 1rem;
  }
  #container .av_prd_info{
    justify-items:flex-start;
    grid-template-columns: 1fr;
  }

  
  /* Font-Size */

  #container .av_prd_info h2{
    font-size: calc(3.5rem + 0.25vw);
  }
  #container .av_prd_info h3{
    font-size: calc(1.5rem + 0.25vw);
  }

    /* img */
  
  #container section:nth-child(4) #se_dv img,
  #container section:nth-child(5) #se_dv img:first-child,
  #container section:nth-child(6) #se_dv img,
  #container section:nth-child(7) #se_dv img,
  #container section:nth-child(9) #se_dv img,
  #container section:nth-child(10) #se_dv img,
  #container section:nth-child(13) #se_dv img
  {
     height: calc(17.75rem + 0.25vw);
     object-fit: cover;
     /* border-radius: 1rem; */
     display: inline-block;
     margin: 0 auto;
     text-align: center;
  }
  

}