@charset "utf-8";
/* CSS Document */
/* Custom CSS for R9-420F_B */
/* General Styles */ 


header {
    background: #000;
    font-size: calc(0.5rem + 0.25vw);
    padding: 1.25rem;a
    position: relative;
    text-align: center;
    color: #fff;
    z-index: 99;
} 

.av_prd > picture > h2{
  position: absolute;
  top: 12%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: Roboto;
  color: #292929;
  /* font-family: "맑은 고딕","Malgun Gothic",나눔고딕,돋움,Dotum,굴림,Gulim,"Apple SD Gothic Neo",sans-serif; */
}

.av_prd picture{
  display: flex;
  overflow: hidden;
  margin: 0rem 0;
}

.p_set > div > span{
  font-size: var(--size-cb);
}

.p_set > div{
  background: #000;
  color: #fff;
  padding: 1rem;
  /* margin: 1rem; */
  border-radius: 0.5rem;
}


.p_set > div > div{
  display: flex;
  gap: 0.25rem;
  align-items: center;
  padding-bottom: 0.5rem;
}


.av_prd{
  position: relative;
  background: #000;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
}


.ba_av{
  color:#fff;
  max-width: 860px;
  width: 100%;
  display: flex;
  z-index: 9;
  justify-content: center;
}

.ba_av h2{
  font-size: var(--size-b);
  /* border-left: 8px solid #b20000; */
  line-height: 1;
  margin: 0.8rem 0;
  padding: 0.5rem 0.5rem;
  color: #f79a1f;
}


.ba_av h3{
  font-size: calc(1rem + 0.25vw);
  margin-bottom: 1rem;
}

.ba_av h4{
  font-size: 2rem;
}

.ba_av > span{
  padding: 0.5rem 0;
}

.av_b_ul{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30%, 1fr));
  gap: 1rem;
  /* margin-top: 1.5rem; */
}

.av_b_ul li i {
  font-size: calc(1.5rem + 0.25vw);
  padding-bottom: 0.5rem;
}

.av_b_ul li{
  padding:1rem;
  background-image: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
  background-color: #aea2ff;
  color: #ffffff;
  border-radius: 0.25rem;
  font-size: calc(0.75rem + 0.25vw);
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #535353;
  text-align: center;
  justify-content: center;
}

.av_grid h4{
  font-size: var(--size-cd);
}

.bb_line{
  border-bottom: 4px solid var(--p_color_b);
  display: inline-block;
}

.os_me li{
  line-height: 1.4;
}

.os_me{
  position: absolute;
  left: 3%;
  top: 3%;
  font-family: Dotum;
  background: #ffffffb0;
  padding: 1rem;
  border: 4px solid var(--p_color_b);
}

/* Font-Size */

.av_a h3{
  padding-bottom:0.5rem;
}


.av_logo{
  position: absolute;
  /* top: 5%; */
  /* left: 80%; */
  /* z-index: 9; */
  /* color: #0038df; */
  /* font-family: roboto; */
  /* transform: translate(-50%,-50%); */
  /* font-size: 2rem; */
}

.ad_f,
.av_b_ul,
.av_a_img,
.av_d > div,
.av_c > div{
  margin-top: 2rem;
}

.av_a_img div ul{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;

}


.av_a_img {
  width: 100%;
  overflow:hidden;
  border-radius: 0.5rem;
  position: relative;
  height: 100%;
}

.av_a_img > div img,
.av_a_img > div > img{
  /* scale:1.3; */
  height: 35rem;
  object-fit: cover;
}


.av_a_img > div > div{
  overflow:hidden;
  border-radius: 0.5rem;
  height: 100%;
}

.av_grid{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  justify-items: center;
  height: 88%;
}

.av_grd{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(48%, 1fr));
  gap: 2rem;
  align-items: start;
}

.av_title{
}

.soda_logo{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.soda_logo h4{
  display:inline-block;
  font-size: calc(1.0rem + 0.25vw);
  color: #979797;
}

.soda_logo h4:first-child{
  border-bottom: 5px solid #f91e1e;
  font-size: calc(2.5rem + 0.25vw);
}
#sspecs > div > span{
  margin-bottom: 1rem;
  font-size: var(--size-cb);
}

.av_f span > ul > li > p{
  background:#007aff;
  border-radius: 3rem;
  line-height: 1.8;
  width: 2rem;
  text-align: center;
  color: #fff;
}

.av_f span > ul {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20%, 1fr));
  padding: 1rem 0;
  margin: calc(1rem + 1.25vw) 0;
  gap: 1rem;
  justify-items: start;
}


.av_f span > ul > li{
  display: flex;
  align-items: center;
  justify-content: center;
  /* flex-wrap: wrap; */
  gap: 0.5rem;
}

.soda_aver{
  background: #000000;
  color: #fff;
}

.soda_aver > div{
  display: flex;
  font-size: calc(1.5rem + 0.25vw);
  gap: 2rem;
  max-width:860px;
  padding: 2rem 0;
  color: #fff;
  align-items: center;
  margin: 0 auto 4rem;
  justify-content: flex-start;
}

.spec-table td{
  padding:0.5rem;
}

.spec-table tr{
  border: 1px solid #c4c4c4;
}

.spec-table{
  font-size: calc(0.5rem + 0.25vw);
  border-collapse: collapse;
}

#sspecs > div th{
  /* background:#ccc; */
  font-size: calc(0.75rem + 0.25vw);
  margin-bottom: 1rem;
  padding: 1rem 0 0.5rem;
}

#sspecs > div{
  background: #ffffff;
  padding: 2rem;
  text-align: left;
  font-size: 1rem;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}


.ad_s > div:nth-child(2) img{
  filter: drop-shadow(2px 4px 6px black);
  }


.ad_s > div:nth-child(2){
  }

.af_d tr{
  border: 1px solid #ebebeb;
  /* padding: 1rem 0; */
  /* margin: 1rem; */
  /* display: block; */
}
  
.af_d{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(48%, 1fr));
  gap: 1rem;
  font-size: 1rem;
  text-align: left;
  margin-top: calc(1rem + 1.25vw);
}

.goods_Pa th{
  padding: 0.5rem;
}


.goods_Pa td{
  padding:0.25rem;
}

.goods_Pa table{
  width:100%;
}

.af_d > div {
  display:flex;
  padding:1rem;
  font-size: var(--size-cb);
}

.af_d div img{
  border-radius:0.5rem;
  width: 100%;
  object-fit: contain;
  background: #fff;
}

.ad_s div img,
.ad_s div{
  border-radius:0.5rem;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.ad_f > div{

border: 1px solid;

/* background: #d0d0d0; */

padding: calc(0.5rem + 1.25vw);

/* margin: 0 calc(0rem + 1.25vw); */

/* border-radius: 1rem; */
}
.ad_f > div img{
}

.ad_f{
  display: grid;
  grid-template-columns: 1fr 1.2fr;
  gap: 0.5rem calc(2rem + 1.25vw);
  justify-items: center;
  align-items: end;
  background: #181818;
  padding: 2.5rem 1.5rem;
  border-radius: 0.5rem;
  color: #fff;
}


.bas{
  position: absolute;
  top: 25%;
  left: 50%;
  color: #ffb255;
  transform: translate(-50%, -50%);
  font-size: calc(1.0rem + 0.25vw);
}

.so_xa img{
  filter: blur(1px);
  filter: blur(1px) brightness(50%);
}


.so_xa{
  position: absolute;
  left: 0px;
  bottom: 0px;
  width: 50%;
  border: 2px solid #ffffff;
}

.sox span:nth-child(3){
  top:1px;
  left:1px;
}

#xirba > div h2,
#xirba > div span{
  /* color: #fff; */
}

#xirba{
  /* background-color: #171717; */
  /* color: #fff; */
}

.sox span{
  position:absolute;
  top: 1rem;
  right: 1rem;
  color: #fff;
  /* padding: 2rem; */
}

.sox > div:first-child{
  position:relative;
}


.ad_s{
  position:relative;
  display:grid;
  grid-template-columns: 1fr;
  gap: 1rem;
}

.av_sc{
  background-color: #000000;
}

.stest{
  background-color: #ccc;;
}

.av_prd_info{
  display: grid;
  /* grid-template-columns: repeat(auto-fit, minmax(49%, 1fr)); */
  justify-content: center;
  gap: 0.75rem;
  max-width: var(--max-width);
  margin-bottom: 1rem;
  /* border-bottom: 1px solid; */
  text-align: center;
  align-items: center;
}

.av_prd_info > div > div{
  display: flex;
  justify-content: center;
}


.moon{
  /* background:#ccc; */
  position: absolute;
  left: 1%;
  top: 1%;
  /* border: 1px solid; */
  padding: 1% 4%;
  color: var(--p_color_b);
  font-size: calc(1.5rem + 2.25vw);
  background: #000000;
}

section:nth-child(2){
    display: flex;
    z-index: 9;
    background: #000000;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

/* back */

.xin > div:nth-of-type(1),
.xin > div:nth-of-type(2){
  height: 24rem;
  margin-top: 4rem;
}

.xin > div:first-of-type ul{
  display:flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  color: #fff;
}
.xin > div:nth-of-type(2) ul{
  display:flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  color: #fff;
  padding: 1rem 0.5rem;
}

.xin > div:nth-of-type(2) ul li{
  display: flex;
  height: 0.1px;
  color: #fff;
  background:#ccc;
  width: 100%;
  box-sizing: border-box;
  align-items: center;
  align-content: center;
}







.xin > div:nth-of-type(4),
.xin > div:nth-of-type(5){
  height: 24rem;
  margin-top: 5rem;
}

.xin > div:nth-of-type(4) ul{
  display:flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  color: #fff;
  padding: 1rem 0.5rem;
}

.xin > div:nth-of-type(4) ul li{
  display: flex;
  height: 0.1px;
  color: #fff;
  background:#ccc;
  width: 11%;
  box-sizing: border-box;
  align-items: center;
  align-content: center;
  position: absolute;
  left: 42rem;
}






.xin{
  display:grid;
  grid-template-columns: 0.20fr 0.15fr 1.5fr 0.01fr 0.20fr;
  position: relative;
  font-size: 1rem;
}


section:nth-child(2) > div{
  padding: 0rem 0rem 2rem 0;
  margin: 0 0 2rem 0;
  max-width: 860px;
  width: 100%;
  color: #000;
}

/*  */

.av_prd > div:nth-of-type(2){
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  align-items: center;
  align-content: center;
  width: 860px;
}
.av_prd > div:nth-of-type(2) picture + div > ul{
  display:grid;
  grid-template-columns:1fr 1fr;
  gap: 2rem 0;
  grid-template-rows: 1fr 1fr;
  justify-items: end;
}
.av_prd > div:nth-of-type(2) picture + div > ul > li > img{
  width: 29%;
}
.av_prd > div:nth-of-type(2) picture + div > ul > li{
  display:flex;
  color:#fff;
  flex-direction: column;
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 1rem;
  padding: 2rem 0rem;
  width: 80%;
  justify-content: space-around;
}
section{
  display:flex;
  padding: 0 1rem;
  background: #000;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
}

section .ins{
  display: flex;
  flex-direction: column;
  font-size: 2rem;
  align-items: center;
  margin-top: 3rem;
  color: #fff;
}

section table{
  text-align:left;
  /* border: 4px solid #ff5a5a; */
  border-collapse : collapse;
  margin: 0 auto;
}

section table th{
  padding-right:3rem;
}

section h5{
  color: #fff;
}

section th,
section td{
  padding:0.5rem 1rem;
  font-size: 1rem;
  font-weight: 300;
}

section th{
  border: 1px solid #4d4d4d;
  border-collapse : collapse;
  font-size: 1rem;
  font-weight: bold;
}

section tr{
  color: #fff;
  border: 1px solid #4d4d4d;
  border-collapse : collapse;
}

section > div{
  color: #fff;
  width: 100%;
  max-width: 860px;
  margin: 4rem 0;
}

.wxrow > div{
  display:flex;
  gap: 1rem;
  flex-direction: column;
  align-items: center;
}


.wxrow{
  display: grid;
  color: #fff;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 5rem;
  align-items: center;
  justify-content: center;
  align-content: center;
  font-size: 1rem;
}

/* 2025-06-23ㅣmd120ui.css */
/* Aver2 */
